@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar:horizontal{
    height: 10px;
}

::-webkit-scrollbar-track{
    background-color: #16171F;
    border-radius: 40px;
}

::-webkit-scrollbar-thumb{
    background-color: #2B2C37;
    border-radius: 40px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #635FC7
}

::-webkit-scrollbar-corner{
    background-color: 20212C;
}

body::-webkit-scrollbar, main_container::-webkit-scrollbar{
    display: none
}

.asideTop::-webkit-scrollbar-thumb{
    background-color: #4B5563;
}

.asideTop::-webkit-scrollbar-track{
    margin-left: 1
}

.flex_all{
    @apply flex items-center justify-between px-6 border-line;
}

.boardStyles{
    @apply py-3 pl-10 font-bold text-secondary flex gap-4 items-center rounded-r-full cursor-pointer hover:bg-white hover:text-tertiarty-200 transition ease-linear duration-300 uppercase
}

.selectedBoardStyles{
    @apply py-3 pl-10 text-white font-bold flex gap-4 items-center bg-tertiarty-200 rounded-r-full cursor-pointer uppercase
}

.column{
    @apply h-full w-column text-secondary
}

.column_title{
    @apply flex gap-4 items-center
}

.column_title_span{
    @apply w-4 h-4 rounded-full
}

.task{
    @apply mt-6 bg-primary-100 py-6 px-4 rounded-lg shadow-lg  cursor-pointer hover:opacity-50 transition-all ease-linear duration-300
}

.task_htag{
    @apply text-white font-bold
}

.task_ptag{
    @apply text-secondary mt-2 text-sm
}

.addColumnBg{
    background: linear-gradient(to bottom,#2B2C37, #2B2C37,#2B2C37,#2B2C37, #20212C);
}

.asidetoggleVisible{
    @apply w-1/4 pr-8  md:w-2/5
}

.asidetoggleHidden{
    @apply w-nothing pr-0 whitespace-nowrap
}

.input{
    @apply bg-transparent border-2 outline-none rounded-md px-4 py-1 caret-white mt-2 w-full text-white
 }

.boardInput{
   @apply bg-transparent border-2 outline-none rounded-md px-4 py-1 caret-white mt-2 w-full text-white
}

.label{
    @apply font-semibold text-white text-xs
}

.column_input_div{
    @apply flex items-center gap-4
}

.dottedBorder{
    @apply border-dashed border-2 border-gray-600 h-5/6 rounded-md mt-6
}

.addTaskInputField{
    @apply bg-transparent border-2 border-gray-700 outline-none rounded-md px-4 py-1 caret-white mt-2 w-full text-white
}

.inputContainer{
    @apply flex flex-col mb-4 
}

.taskColumnOptions{
    @apply bg-primary-100 text-white py-4
}

.subTaskInputContainer{
    @apply flex items-center gap-4
}

.subTask{
    @apply flex gap-4 bg-primary-200 p-3 rounded-lg cursor-pointer hover:bg-tertiarty-300 transition ease-linear duration-300 text-sm font-semibold
}

.checkImage{
    @apply h-3 w-3 
}

.checkbox{
    @apply h-5 w-5 flex justify-center items-center rounded-sm cursor-pointer
}

.checked{
    @apply  bg-tertiarty-200
}

.notChecked{
    @apply border-line border-std
}

.deleteConfirmation{
    @apply bg-primary-100 py-5 px-6 rounded-lg w-2/5 hidden md:w-4/6 mobile:w-full mobile:h-full mobile:rounded-none
}

.deleteConfirmationHeader{
    @apply text-red-500 font-bold text-lg 
} 

.deleteConfirmationText{
    @apply text-secondary mt-4 mb-4 text-sm
}

.deleteActionContainer{
    @apply flex flex-row w-full gap-4 items-center
}

.deleteComfirmationBtn{
    @apply text-white bg-red-500 py-2 rounded-r-full rounded-l-full font-semibold w-1/2
}

.deleteConfirmationClearBtn{
    @apply text-tertiarty-200 bg-white py-2 rounded-r-full rounded-l-full font-semibold w-1/2
}
